# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/node_modules

/test.html
/index.html
/inddd.js
/idea
/index.js

# Environment Variables
.env
.env.build
.vercel
